<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Goodbye, <%= @user.full_name %>!</h1>
    <p>
      Your account has been deleted by an admin.
      We will miss you here at Rotten Mangoes.<br/>
    </p>
    <p>
      To signup again to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for being a part Rotten Mangoes and have a great day!</p>
  </body>
</html>