<div class="row">
<div class="page-title">
  <h1 class="text-center">ROTTEN MANGOES</h1>
</div>
<%= render 'search' %>
<h2 class="text-center"><%= link_to "Submit a movie!", new_movie_path %></h2>
</div>

<div class="row">
  <% @movies.each_with_index do  |movie, index| %>

    <%= render partial: "movie", locals: {movie: movie} %>

    <% if (index+1) % 4 == 0 && (index+1) > 0  %>
      </div>  
      <div class="row">
    <% end %>
    
  <% end %>

</div>