<h2 class="text-center adder"><%= link_to "Submit a movie!", new_movie_path %></h2>
<div class="row">
  <% @movies.each_with_index do  |movie, index| %>

    <%= render partial: "movie", locals: {movie: movie} %>

    <% if (index+1) % 4 == 0 && (index+1) > 0  %>
      </div>  
      <div class="row">
    <% end %>
  <% end %>
</div>