<h1>Rotten Mangoes</h1>
<hr>
<h2><%= link_to "Submit a movie!", new_movie_path %></h2>
<hr>
<%= render 'search' %>
<hr>
<h3>MOVIES</h3>
<% @movies.each do |movie| %>
  <%= render partial: "movie", locals: {movie: movie} %>
<% end %>