/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ccc;
}

.center {
  width: 50%;
  overflow: auto;
  margin: 0 auto;
}

.center form {
  display: inline-block;
}

.page-title {
  text-align: justify;
}

// .movie-img {
//   width: 318px;
//   height: 180px;
// }

// card
.card {
  background-color: white;
  // border: 1px solid gray;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card img {
  width: 100%;
}

.card-block {
  padding: 10px;
}

// .card-wrapper {
//   width: 24%;
//   display: inline-block;
//   vertical-align: top;
// }
