<br/>
<div class="row">
  <div class="col-sm-5">
    <div class="well">
      <%= link_to "Back to all users", admin_users_path %>

      <h2>Create new user</h2>
      <%= render 'user_form' %>
    </div>
  </div>
</div>